{{ define "main" }}

<section class="section">
  <!-- <div class="container"> -->
    <!-- <div class="columns is-centered"> -->
    <!--  <div class="column"> -->
        <h1 class="title is-1 is-size-3-mobile">{{ .Title }}</h1>
        <div class="title subtitle heading is-6">
          <div class="columns is-multiline is-vcentered is-mobile">
            {{ with .Site.Params.authorImage }}
            <div class="column is-narrow">
              <img src="{{ . }}" class="author-image">
            </div>
            {{ end }}
            <div class="column is-narrow">
              <p>{{ .Site.Params.Author }}</p>
              <p><time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                  {{ .PublishDate.Day }} {{ index $.Site.Data.mois (printf "%d" .PublishDate.Month) }}
                  {{ .PublishDate.Year }}
                </time>{{ if .Params.ReadingTime }}
                | {{ .Params.ReadingTime }} {{ if eq .Params.ReadingTime 1 }} minute {{ else }} minutes {{ end }}
                {{ end }}
              </p>
              {{ if .Params.draft }}
              <p><span class="has-text-warning">DRAFT {{ .WordCount }} WORDS</span></p>
              {{ end }}
              {{ if .Params.progress }}
              <progress class="progress is-info" value="{{ .Params.progress }}" max="{{ .Params.total }}">
                {{ .Params.progress }}
            </progress>
            {{ end }}
            </div>
            <div class="column is-narrow">
              <div class="buttons no-margin">
                {{ range $idx, $category := .Params.categories }}
                {{ with partial "func/GetTermPage" (dict "taxonomy" "categories" "term" $category) }}
                {{ if ne $idx 0 }} {{ end }}<a href="{{ .RelPermalink }}"
                  class="button is-small is-primary skew category-tag"><span class="unskew">{{ .Title }}</span></a>
                {{ end }}
                {{ end }}
                {{ range $idx, $voyage := .Params.voyages }}
                {{ with partial "func/GetTermPage" (dict "taxonomy" "voyages" "term" $voyage) }}
                {{ if ne $idx 0 }} {{ end }}<a href="{{ .RelPermalink }}"
                  class="button is-small is-info skew category-tag"><span class="unskew">{{ .Title }}</span></a>
                {{ end }}
                {{ end }}

              </div>
            </div>
          </div>
        </div>
        {{ $url := .Site.BaseURL }}
        {{ with .Params.images }}
        <figure class='title-image'>
          {{ $img := index . 0 }}
          <img src="{{ substr $url 0 -1}}{{ $img }}" alt="" >
        </figure>
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <div class="columns is-mobile">
          <div class="column has-text-left">
            {{ with .PrevInSection }}
            <p>Article précédent</p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          </div>
          <div class="column has-text-right">
            {{ with .NextInSection }}
            <p>Article suivant</p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns is-centered">
    <div class="column max-800px">
      <div class="content">
        <h2>Contenus similaires</h2>
      </div>
      <div class="columns">
        {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 3 }}
        {{ range $related }}
        <div class="column is-one-third">
          {{ partial "widgets/post-card-small.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<section class="section">
  {{ template "_internal/disqus.html" . }}
</section>

{{ end }}