{{ define "main" }}
<div class="hero is-dark is-fullheight-with-navbar" {{ with .Params.heroimage }}
  style="background: url({{ . }}) center top; background-size:cover;" {{ end }}>
  <div class="hero-body">
    <div class="container max-800px">
      <h1 class="tag skew title subtitle is-1 has-background-primary narrow-background"><span class="unskew">{{ .Title | upper }}</span></h1>
    </div>
  </div>
</div>

<div class="section">
  <div class="container max-800px">
    <div class="content">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
