<div class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="has-text-centered">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
                <form
                    action="https://app.us6.list-manage.com/subscribe/post?u=3e3e6793caf16d441f7895eb1&amp;id=59472e18b8"
                    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                    target="_blank" novalidate>
                    <h2 class="title is-3">S'abonner aux news</h2>
                    <div class="field has-addons" style="max-width:400px;margin:1em auto">
                        <div class="control has-icons-left"><span class="icon is-small is-left"><i
                                    class="fas fa-envelope"></i></span>
                            <input class="required email input" type="email" placeholder="Email" name="EMAIL"
                                id="mce-EMAIL">
                        </div>

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_3e3e6793caf16d441f7895eb1_59472e18b8" tabindex="-1" value=""></div>
                        <div class="clear">
                            <input type="submit" value="S'abonner" name="subscribe" id="mc-embedded-subscribe"
                                class="button is-danger">
                        </div>
                    </div>
                    <div class="content">Abonnez-vous pour recevoir les nouveaux articles directement dans votre boîte
                        mail.</div>
                </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </div>
</div>