{{ define "main" }}
<div class="hero is-dark is-fullheight-with-navbar" {{ with .Params.heroimage }}
  style="background: url({{ . }}) center bottom; background-size:cover;" {{ end }}>
  <div class="hero-body">
    <div class="container max-800px">
      <h1 class="tag skew title subtitle is-1 has-background-primary narrow-background"><span
          class="unskew">{{ .Title | upper }}</span></h1>
      {{ with .Params.herotext }}
      <h2 class="skew title subtitle is-4 has-background-primary narrow-background">
        <span class="unskew">{{ . }}</span>
      </h2>
      {{ end }}
    </div>
  </div>
</div>

<div class="container max-800px">
  <div class="section">
    <div class="columns is-multiline">
      <div class="column is-two-third">
        {{ $accueil := (where .Site.RegularPages "Type" "in" "blog")}}
        {{ range first 1 $accueil }}
        {{ partial "widgets/post-card.html" . }}
        {{ end }}
      </div>
      <div class="column is-one-third">
        <div class="content">
          {{ .Content }}
        </div>
        <hr>
        <aside class="menu">
          <p class="menu-label">
            Voyages
          </p>
          <ul class="menu-list">

            {{ range $name, $items := .Site.Taxonomies.voyages }}
            {{ with partial "func/GetTermPage" (dict "taxonomy" "voyages" "term" $name) }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}&nbsp;<span>({{ len $items }})</span></a></li>
            {{ end }}
            {{ end }}
          </ul>
        </aside>
        <hr>
        <aside class="menu">
          <p class="menu-label">
            Catégories
          </p>
          <ul class="menu-list">
            {{ range $name, $items := .Site.Taxonomies.categories }}
            <li><a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">{{ $name | humanize }}
                &nbsp;<span>({{ len $items }})</span></a></li>
            {{ end }}
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="columns">
      {{ range  (where .Site.RegularPages "Type" "blog") | after 1 | first 3 }}
      <div class="column is-one-third">
        {{ partial "widgets/post-card-small.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}