{{ if .Get "column" }}
<div class="column {{ with .Get "column" }}{{.}}{{ end }}">
  {{ end }}
  <img {{ with .Get "link"}} class="modal-button pointer" onclick="toggleModal('{{.}}')" data-target="{{.}}" {{ end }} src="{{ .Get "src" }}"
    {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"
    {{ end }} />
  <div {{ with .Get "link"}} id="{{.}}" {{ end }} 
  class="modal modal-fx-fadeInScale">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image">
        <figure {{ with .Get "class" }}class="{{.}}"{{ end }}>          
              <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
          {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
          <figcaption>{{ if isset .Params "title" }}
            <p class="title is-3 has-text-white">{{ .Get "title" }}</p>
              <h4 class="has-text-white">{{ .Get "title" }}</h4>{{ end }}
              {{ if or (.Get "caption") (.Get "attr")}}<p>
              {{ .Get "caption" }}
              {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
                  {{ .Get "attr" }}
              {{ if .Get "attrlink"}}</a> {{ end }}
              </p> {{ end }}
          </figcaption>
          {{ end }}
      </figure>
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close" {{ with .Get "link" }} onclick="toggleModal('{{.}}')" {{ end }}></button>
  </div>

{{ if .Get "column" }}
</div>
{{ end }}